@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.genre {
    display: flex;
    color: $Blue-Violet;
    background-color: rgb(110, 46, 216, .20);
    padding: .25rem .25rem .15rem .25rem;
    border-radius: 10px;

    @include tablet-and-desktop {
        padding: .5rem .5rem .5rem .5rem;
    }
}

.details {
    display: flex;
    flex-direction: column;

    @include tablet {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    @include desktop {
        flex-direction: row;
        padding-left: 4.5rem;
        padding-right: 4.5rem;
        margin-top: 1.5rem;
    }

    &-poster {
        align-self: center;
        height: 45vh;
        width: auto;
        margin-bottom: 1rem;
        border-radius: 6px;
        box-shadow: 0px 2px 4px 2px $Blue-Violet;

        @include desktop {
            height: 55vh;
            align-self: baseline;
            margin-right: 2.5rem;
        }
    }

    &-container {
        width: 100%;
        background-color: $White;
        color: $Slate;
        min-height: 100vh;
        border-radius: 10px;
        box-shadow: 0px 2px 5px 2px $Blue-Violet;

        &__title {
            padding: 1rem 1rem .5rem 1rem;

            @include tablet-and-desktop {
                padding: 1.5rem 2rem 1.5rem 2rem;
                font-size: 2.75rem;
            }
        }

        &__button {
            margin-bottom: 1rem;
            margin-left: 1rem;

            padding: .5rem .5rem .5rem .5rem;
            background-color: $Blue-Violet;
            color: $White;
            font-weight: 600;
            border: none;
            border-radius: 6px;
            box-shadow: 0px 2px 2px 0px $Blue-Violet;

            @include tablet-and-desktop {
                padding: 1rem .8rem 1rem .8rem;
                border-radius: 16px;
                margin-bottom: 1.5rem;
                margin-left: 2rem;
            }

            &-txt {
                @include tablet-and-desktop {
                    font-size: 1.25rem;
                }
            }
        }

        &__button:hover {
            transform: scale(1.025);
        }

        &__sources {
            display: flex;
            flex-direction: column;
            border-top: 1px solid $Slate;

            &-source {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 1rem 1.5rem 1rem 2rem;
                border-top: 1px solid $Cloud;

                @include tablet-and-desktop {
                    padding: 1rem 2rem 1rem 3rem;
                }

                &-icon {
                    border-radius: 6px;
                    height: 2rem;
                    width: 2rem;

                    @include tablet-and-desktop {
                        height: 3rem;
                        width: 3rem;
                        border-radius: 10px;
                    }
                }

                &-link {
                    text-decoration: none;

                    &-size {
                        font-size: 1.2rem;

                        @include tablet-and-desktop {
                            font-size: 1.6rem;
                        }
                    }
                }
            }
        }

        &__trailer {
            display: flex;
            flex-direction: column;
            width: 100%;
            border-top: 1px solid $Slate;
            padding-top: 1rem;
            padding-bottom: 1rem;

            @include tablet-and-desktop {
                padding-top: 1.5rem;
                padding-bottom: 1.5rem;
            }

            &-title {
                margin-bottom: .25rem;
                padding-left: 1rem;

                @include tablet-and-desktop {
                    padding-left: 2rem;
                    margin-bottom: .5rem;
                }
            }

            &-video {
                align-self: center;
                max-width: 90%;
                height: 25vh;

                @include tablet-and-desktop {
                    width: 36rem;
                }

                @include desktop {
                    height: 40vh;
                }
            }
        }

        &__info {
            display: flex;
            flex-direction: column;
            border-top: 1px solid $Cloud;

            &-release {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;


                padding-left: 1rem;
                padding-right: 1rem;
                margin-top: .5rem;

                @include tablet-and-desktop {
                    padding-left: 2rem;
                    padding-right: 2rem;
                    margin-top: 1rem;
                }

                &-txt {
                    font-weight: 700;

                    @include tablet-and-desktop {
                        font-size: 1.5rem;
                    }
                }

                &-date {
                    font-weight: 600;

                    @include tablet-and-desktop {
                        font-size: 1.25rem;
                    }
                }
            }

            &-genres {
                display: flex;
                flex-direction: row;
                align-items: center;
                flex-wrap: wrap;
                gap: .35rem;


                padding-left: 1rem;
                padding-right: 1rem;
                margin-top: .5rem;

                @include tablet-and-desktop {
                    padding-left: 2rem;
                    padding-right: 2rem;
                    gap: 1rem;
                    margin-top: 1rem;
                }

                &-txt {
                    font-weight: 700;
                }

                &-date {
                    font-weight: 600;
                }
            }

            &-overview {
                display: flex;
                flex-direction: column;

                padding-left: 1rem;
                padding-right: 1rem;
                margin-top: .5rem;
                margin-bottom: 1rem;

                @include tablet-and-desktop {
                    padding-left: 2rem;
                    padding-right: 2rem;
                    margin-top: 1rem;
                    margin-bottom: 2rem;
                }

                &-txt {
                    font-weight: 700;

                    @include tablet-and-desktop {
                        font-size: 1.5rem;
                        margin-bottom: .5rem;
                    }
                }

                &-summary {
                    font-weight: 400;

                    @include tablet-and-desktop {
                        font-size: 1.35rem;
                        font-family: 'Times New Roman', Times, serif;
                    }
                }
            }
        }
    }
}

.popup .popuptext {
    visibility: hidden;
    font-size: 1rem;
    width: 15rem;
    height: 5rem;
    background-color: rgb(110, 46, 216, .90);
    color: $White;
    text-align: center;
    border-radius: 10px;
    padding: 0.75rem 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -5rem;

    @include tablet-and-desktop {
        font-size: 1.25rem;
    }
}

.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
.noninteractive {
    pointer-events: none;
    background-color: rgb(110, 46, 216, .70);
}