@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.profile-page {
    &__avatar {
      width: 12rem;
      padding: 0.5rem;
      background-color: #e4f1e8;
    }
    &__logout-wrapper {
      margin-top: 2rem;
    }
}