@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.header {
    display: flex;
    justify-content: space-between;
    padding: 1.25rem;
    @include tablet {
        padding: 2.5rem;
    }
    @include desktop {
        padding: 3.5rem;
    }

    &__logo {
        text-decoration: none;
        &:link,
        &:visited {
          color: inherit;
        }
    }

    &__nav {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        &-item {
            text-decoration: none;
        }
    }

    &__nav-link {
        &:link,
        &:visited {
            display: flex;
            justify-content: center;
            text-decoration: none;
            color: inherit;
        }
    }
}