@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.footer {
    color: $Cloud;
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    align-items: center;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-left: 3rem;
    padding-right: 3rem;
    @include tablet-and-desktop {
        padding-left: 5rem;
        padding-right: 5rem;
    }
    &__details {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        
        padding-bottom: 1rem;
        &-link {
            text-decoration: none;
            color: inherit; 
        }
    }
}