@use "./styles/partials/mixins" as *;
@use "./styles/partials/typography" as *;
@use "./styles/partials/variables" as *;

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
}

body {
  font-family: 'Gothic A1';
  color: $White;
}

h1 {
  @include H1-page-header;
  @include tablet-and-desktop {
      @include td-H1-page-header;
  }
}
h2 {
  @include H2-subheader;
  @include tablet-and-desktop {
      @include td-H2-subheader;
  }
}
h3 {
  @include H3-labels-links-buttons;
  @include tablet-and-desktop {
      @include td-H3-labels-links-buttons;
  }
}
h4 {
  @include H4-table-header;
  @include tablet-and-desktop {
      @include td-H4-table-header;
  }
}

/* FOR ALL <p> ELEMENTS */
/* Attach a className with the following format:
  className="p-SIZE" Size-> large/medium/small */
.p {
  &-large {
      @include P1-body-large;
      @include tablet-and-desktop {
          @include td-P1-body-large;
      }
  }
  &-medium {
      @include P2-body-medium;
      @include tablet-and-desktop {
          @include td-P2-body-medium;
      }
  }
  &-small {
      @include P3-body-small;
      @include tablet-and-desktop {
          @include td-P3-body-small;
      }
  }
}

.page-container {
  min-height: 100vh;
  background-image: linear-gradient(135deg, black, $Purple-Background);

  &__content {
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem 1rem 1.5rem;
  }
}